body{
    background: linear-gradient(to bottom left, #0f0f11, #18182b);
}

main {
    margin-left: 20.7vw;
    display: flex;
    flex-wrap: wrap;

    width: calc(100% - 20.7vw); 
}

main header#mainHeader {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    font-size: 43px;
    font-weight: 600;
}

main header#mainHeader h2 {
    margin: 0 50px;
    color: rgb(145, 145, 145);
}
